<!DOCTYPE html>
<html>
<head>
    <title>Locked 🔐</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body style="display:flex; justify-content:center; align-items:center; height:100vh;">
    <div class="card" style="width:300px; padding:40px;">
        <h2 style="color:white;">🔐 Private</h2>
        <form method="POST" action="/sadil">
            <input type="password" name="password" placeholder="Password daalo" required 
                   style="width:90%; padding:10px; margin-bottom:20px; border-radius:5px; border:none;">
            <button type="submit">Unlock</button>
        </form>
    </div>
</body>
</html>