<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<div class="hero">
  <div class="card" style="text-align:center; width:350px;">

    <h2 style="margin-bottom:10px;">🔒 Sadil</h2>
    <p style="font-size:14px; color:gray;">Private space for us</p>

    <form method="POST" style="margin-top:20px;">
      <input 
        type="password" 
        name="password" 
        placeholder="Enter Password"
        required
      >

      <button style="margin-top:15px;">Enter 💖</button>
    </form>

  </div>
</div>