<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<div class="navbar">
  <div>Music 🎵</div>
  <div><a href="/">Home</a></div>
</div>

<div class="section dark">

  <div class="card">
    <form method="POST" enctype="multipart/form-data">
      <input type="text" name="title" placeholder="Song Name">
      <input type="file" name="song">
      <button>Upload</button>
    </form>
  </div>

  {% for song in songs %}
    {% if song[2] %}
      <div class="card">
        <h3>{{ song[1] }}</h3>

        <audio controls>
          <source src="{{ url_for('static', filename='uploads/' + song[2]) }}">
        </audio>

        <a href="/delete_song/{{ song[0] }}">
          <button style="background:red;">Delete</button>
        </a>
      </div>
    {% endif %}
  {% endfor %}

</div>