<!DOCTYPE html>
<html>
<head>
    <title>Photos - sa.onhills</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div class="navbar"><a href="/">Home</a></div>

    <h1 style="color:white;text-align:center;">📸 Photos Gallery</h1>

    <div class="grid">
    {% for p in data %}
        <img src="{{ url_for('static', filename='uploads/' + p[2]) }}" onclick="openImg(this.src)">
    {% endfor %}
    </div>

    <div id="popup" onclick="this.style.display='none'">
        <img id="big">
    </div>

    <script>
    function openImg(src){
        document.getElementById('popup').style.display='flex';
        document.getElementById('big').src = src;
    }
    </script>

</body>
</html>