<h1>Posts 💙</h1>

<form method="POST" enctype="multipart/form-data">
  <input type="text" name="message" placeholder="Write something...">
  <input type="file" name="photo" accept="image/*,video/*">
  <button>Post</button>
</form>

<hr>

{% for post in data %}
  <div style="margin-bottom:20px; padding:10px; border:1px solid #ccc;">

    <p>{{ post[1] }}</p>

    {% if post[2] %}
      {% if post[2].endswith('.mp4') %}
        <video width="250" controls>
          <source src="{{ url_for('static', filename='uploads/' + post[2]) }}">
        </video>
      {% else %}
        <img src="{{ url_for('static', filename='uploads/' + post[2]) }}" width="200">
      {% endif %}
    {% endif %}

    <br><br>
    <a href="/delete_post/{{ post[0] }}" style="color:red;">Delete ❌</a>

  </div>
{% endfor %}