<!DOCTYPE html>
<html>
<head>
<title>Sadil</title>

</head>
<body>

<h1>🔒 Sadil Private</h1>

<form action="/upload_private" method="POST" enctype="multipart/form-data">
    <input type="file" name="file" required>
    <button>Upload</button>
</form>

{% for d in data %}
<div>
    {% if d[1].endswith('.mp4') %}
        <video controls>
            <source src="{{ url_for('static', filename='uploads/' + d[1]) }}">
        </video>
    {% else %}
        <img src="{{ url_for('static', filename='uploads/' + d[1]) }}">
    {% endif %}

    <form action="/delete_private/{{d[0]}}" method="POST">
        <button>Delete</button>
    </form>
</div>
{% endfor %}

</body>
</html>